# IDEA stuff

/*.iml
/*.ipr
/*.iws
/.idea/

# Eclipse stuff

/.classpath
/.project
/.settings/

# Project stuff

/.gradle/
/lib/
/bin/
/build/
/target/
/src/META-INF/

# Mewtwo stuff

/*~

/NickservPassword

/include/*
!/include/argv.rb

/logs/
/commands/*
!/commands/admin/
/commands/admin/*
!/commands/hello.rb
!/commands/interact.rb
!/commands/admin/eval.rb
!/commands/admin/join.rb
!/commands/admin/reload.rb
!/commands/admin/joinserver.rb
!/commands/admin/leave.rb
!/commands/admin/nick.rb
!/commands/admin/set.rb

/modules/*
!/modules/talk.rb
!/modules/regex.rb

/*.cfg
!/mewtwo.cfg
!/admins.cfg

!/README.md
!/LICENSE

/*.json

/TODO
/*.jar
/*.py
/.git/
/profile.txt
